.b-footer
    a.cf(href="/")
        span.hide На главную
        .b-logo.b-logo_footer
    .b-maps
        .b-maps__element
            h4.b-maps__element__items-title О магазине
            ul.b-maps__element__items
                each val in ['О нас','Наши цены','Наши скидки','Акции']
                    li
                        a(href='#')= val
        .b-maps__element
            h4.b-maps__element__items-title Каталог
            ul.b-maps__element__items
                each val in ['Смартфоны','Планшеты','Компьютеры','Аксессуары']
                    li
                        a(href='#')= val
        .b-maps__element
            h4.b-maps__element__items-title Контакты
            ul.b-maps__element__items
                each val in ['Телефоны','Адреса','Карта проезда','Обратная связь']
                    li
                        a(href='#')= val
    ul.b-socials
        .b-socials__app.cf
            a(href="#")
                li.b-appstore
                    span.hide App Store
            a(href="#")
                li.b-googleplay
                    span.hide Google play
        .b-socials__socials.cf
            a(href="#")
                li.b-vkontakte
                    span.hide ВКонтакте
            a(href="#")
                li.b-facebook
                    span.hide Facebook
            a(href="#")
                li.b-twitter
                    span.hide Twitter