.b-head
    .b-logo
    .b-contact
        .b-wrapper
            span.b-contact__code-phone +7 (921)
            span.b-contact__phone 322 12 32
        .b-contact__email manager@company.com
    include menu