.b-head
    .wrapper
        a.cf(href="/")
            span.hide На главную
            .b-logo
        .b-contact
            a(href="tel:+79213221232")
                sup.b-contact__code-phone +7 (921)
                span.b-contact__phone &nbsp;322 12 32
            a(href="mailto:manager@company.com").b-contact__email manager@company.com
    include menu