.b-menu
   each element in ['Мобильные телефона', 'Планшеты', 'Mp3 плееры', 'Персональные компьютеры', 'Ноутбуки', 'Apple TV', 'Аксессуары']
      .b-menu__element
         .b-menu__element-tail
         .b-menu__element-text= element
         .b-menu__element-arrow