.b-nav
   .b-nav__bread-crumbs.left
      a.b-nav__bread-crumbs__href(href='#') Главная
      span.b-nav__bread-crumbs__angle-bracket &nbsp; > &nbsp;
      span.b-nav__bread-crumbs__current Каталог
   .wrapper.right
      select.b-nav__select-style-list.left
         each val, index in ['Сеткой','Линиями']
            option(val=index)= val
      ul.b-nav__pagination.left
         - var current=0
         each val, index in ['1','2','3','4','5','Все']
            if current == index
               li.b-nav__pagination__item= val
            else
               li.b-nav__pagination__item
                  a(href='index')= val