.b-nav
   .b-bread-crumbs
      a.b-bread-crumbs__href(href='#') Главная
      span > Каталог
   select.b-select-style-list
      each val, index in ['Сеткой','Линиями']
         option(val=index)= val
   ul.b-pagination
      - var current=0
      each val, index in ['1','2','3','4','5','Все']
         if current == index
            li= val
         else
            li
               a(href='index')= val