extends ../_layouts/layout

block title
   | Основная страница

block content
   section.b-products.cf
      each product in ['Apple Thunderbolt Display 27','Apple iMac 27"','iPhone 5s Gold','iPad Air Wi-Fi + Cellular 128GB - Silver','Apple iPod nano 7G 16 ГБ Blue','Роутер Wi-Fi Apple AirPort Extreme Base Station']
         .b-product.col3
            img.b-product__img
            .b-product__description
               a(href='#').b-product__description__title= product
               ul.b-product__description__options
                  li.b-product__description__options__option
                     .b-product__description__options__option__key Артикул
                     .b-product__description__options__option-val 42787825
                  li.b-product__description__options__option
                     .b-product__description__options__option__key Опция
                     .b-product__description__options__option-val включена
                  li.b-product__description__options__option
                     .b-product__description__options__option__key Цвет
                     .b-product__description__options__option-val серебристый
                  li.b-product__description__options__option
                     .b-product__description__options__option__key размер
                     .b-product__description__options__option-val 1280*1245*90
                  li.b-product__description__options__option
                     .b-product__description__options__option__key Вес
                     .b-product__description__options__option-val 9 кг
