.b-product_0 {
  &.b-product {
    border: 1px solid $color_gray_border;
    width: 230px;
    float: left;
    margin-left: 25px;
    margin-bottom: 24px;
    min-height: 354px;
    font-family: elektra_light_proregular;
    font-size: 15px;
    color: $color_gray_font;
    cursor: pointer;

    &:nth-child(3n+1) {
      clear: left;
    }

    &:hover {
      @include box-shadow(0 1px 8px rgba(0, 0, 0, .15));
    }
  }

  .b-product__img {
    text-align: center;
  }

  .b-product__description {
    padding: 0 14px 14px;
  }

  .b-product__description__title {
    color: $color_blue_font;
    margin-bottom: 12px;
    display: block;
  }

  .b-product__description__options {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 14px;
    display: block;
  }

  .b-product__description__options__option__key {
    display: block;
    float: left;
  }

  .b-product__description__options__option__val {
    display: block;
    float: right;
  }
}

.b-product_1 {
  &.b-product {

  }

  .b-product__img {
    text-align: center;
  }

  .b-product__description {
    padding: 0 14px 14px;
  }

  .b-product__description__title {
    color: $color_blue_font;
    margin-bottom: 12px;
    display: block;
  }

  .b-product__description__options {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 14px;
    display: block;
  }

  .b-product__description__options__option__key {
    display: block;
    float: left;
  }

  .b-product__description__options__option__val {
    display: block;
    float: right;
  }
}